
.DS_Store
proyectos/.DS_Store
proyectos/assets/.DS_Store
proyectos/assets/img/proyectos/.DS_Store
assets/.DS_Store
assets/img/.DS_Store
assets/img/proyectos/.DS_Store
assets/img/proyectos/uni/.DS_Store
